@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.slider-img {
  filter: brightness(0.35);
  height: 700px;
}

.slider-title {
  font-size: 40px;
  font-weight: 600;
}

.slider-subtitle {
  font-size: 18px;
}

.course-title {
  font-size: 20px;
  font-weight: 600;
  color: #4a4a4a;
}

.course-price {
  font-size: 18px;
  font-weight: 600;
  color: #289bde;
}

.about-section {
  background-color: #f4fafd;
}

.companies-img {
  width: 150px;
  height: 24px;
}

.social-media-icon {
  color: #fff;
}
